{
  "name": "<%= name %>-react-data-access",
  "$schema": "../../../../node_modules/nx/schemas/project-schema.json",
  "sourceRoot": "libs/<%= name %>-react/data-access/src",
  "projectType": "library",
  "tags": ["type:data-access", "scope:<%= name %>-react", "framework:react"]
}